NET "clk50"		LOC = P50;
NET "reset"		LOC = P131;

NET "p_out[7]"	LOC = P138;
NET "p_out[6]"	LOC = P137;
NET "p_out[5]"	LOC = P134;
NET "p_out[4]"	LOC = P133;
NET "p_out[3]"	LOC = P120;
NET "p_out[2]"	LOC = P119;
NET "p_out[1]"	LOC = P118;
NET "p_out[0]"	LOC = P117;

NET "p_in[7]"	LOC = P93;
NET "p_in[6]"	LOC = P88;
NET "p_in[5]"	LOC = P85;
NET "p_in[4]"	LOC = P83;
NET "p_in[3]"	LOC = P81;
NET "p_in[2]"	LOC = P79;
NET "p_in[1]"	LOC = P75;
NET "p_in[0]"	LOC = P67;
