NET "clk"			LOC = P50;
NET "rst"			LOC = P132;
NET "stop"			LOC = P131;

NET "value[10]"	LOC = P139;
NET "value[9]"		LOC = P140;
NET "value[8]"		LOC = P142;

NET "value[7]"		LOC = P138;
NET "value[6]"		LOC = P137;
NET "value[5]"		LOC = P134;
NET "value[4]"		LOC = P133;
NET "value[3]"		LOC = P120;
NET "value[2]"		LOC = P119;
NET "value[1]"		LOC = P118;
NET "value[0]"		LOC = P117;

