NET "clk" 	LOC = P50;
NET "clk" TNM_NET = tclk;
TIMESPEC  TS_CLK = PERIOD "tclk" 2 MHz HIGH 50%;
NET "rst" 	LOC = P131;

NET "ss" 	LOC = P139;
NET "sck" 	LOC = P141;
NET "si"		LOC = P143;
NET "so"		LOC = P2;

NET "input[7]" LOC = P22;
NET "input[6]" LOC = P24;
NET "input[5]" LOC = P27;
NET "input[4]" LOC = P30;
NET "input[3]" LOC = P33;
NET "input[2]" LOC = P35;
NET "input[1]" LOC = P41;
NET "input[0]" LOC = P44;

NET "output[7]" LOC = P138;
NET "output[6]" LOC = P137;
NET "output[5]" LOC = P134;
NET "output[4]" LOC = P133;
NET "output[3]" LOC = P120;
NET "output[2]" LOC = P119;
NET "output[1]" LOC = P118;
NET "output[0]" LOC = P117;