NET "clk"	LOC = P50;
NET "rst"	LOC = P132;

NET "led"	LOC = P138;

NET "value[7]"	LOC = P22 | PULLDOWN;
NET "value[6]"	LOC = P24 | PULLDOWN;
NET "value[5]"	LOC = P27 | PULLDOWN;
NET "value[4]"	LOC = P30 | PULLDOWN;
NET "value[3]"	LOC = P33 | PULLDOWN;
NET "value[2]"	LOC = P35 | PULLDOWN;
NET "value[1]"	LOC = P41 | PULLDOWN;
NET "value[0]"	LOC = P44 | PULLDOWN;
