NET "clk"	LOC = P50;

NET "rst"	LOC = P139;
NET "wr"		LOC = P141;
NET "full"	LOC = P143;

NET "aout"	LOC = P127;

NET "data[7]"	LOC = P8;
NET "data[6]"	LOC = P10;
NET "data[5]"	LOC = P12;
NET "data[4]"	LOC = P15;
NET "data[3]"	LOC = P17;
NET "data[2]"	LOC = P22;
NET "data[1]"	LOC = P24;
NET "data[0]"	LOC = P27;
